.message-post-page {
    input, textarea {
        outline: none !important;
        border: none !important;
    }
    .comment {
        resize: none !important;
        height: 100%;
        font-size: 1.3em !important;
    }

    .headline {
        height: 2em !important;
        font-size: 2em !important;
    }
}
